{% extends "base.html" %}

{% block page_content %}

<table class="table table-bordered" >
    <caption>基本信息</caption>
    <thead>
    <tr>
        <th>发行版本</th>
        <th>CPU核数</th>
        <th>物理内存</th>
        <th>运行时间</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td> {{grains['osfullname']}} {{grains['osrelease']}}</td>
        <td> {{grains['num_cpus']}} </td>
        <td> {{grains['mem_total']}} </td>
        <td> {{uptime['days']}}天{{uptime['time'].split(':')[0]}}小时{{uptime['time'].split(':')[1]}}分钟</td>
    </tr>
    </tbody>
</table>


<table class="table table-bordered" >
    <caption>网卡信息</caption>
    <thead>
    <tr>
        <th>接口</th>
        <th>IP</th>
        <th>MAC</th>
    </tr>
    </thead>
    <tbody>
    {% for n in grains['ip4_interfaces'] %}
    <tr>
        <td> {{ n }} </td>
        <td> {{grains['ip4_interfaces'][n][0]}} </td>
        <td> {{grains['hwaddr_interfaces'][n]}} </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<p>环境初始化</p>



<form action="" method="post"  class="form" role="form">
    {{ form.hidden_tag() }}
    <div class="checkbox">
        选择模板:
        <label class="checkbox" >
            {{ form.salt_states(value="basetool") }} basetool
        </label>
        <label class="checkbox">
            {{ form.salt_states(value="jre") }} jre
        </label>
        <label class="checkbox">
            {{ form.salt_states(value="nginx") }} nginx
        </label>
        <label class="checkbox">
            {{ form.salt_states(value="python") }} python
        </label>
        <label class="checkbox">
            {{ form.salt_states(value="redis") }} redis
        </label>
        <label class="checkbox">
            {{ form.salt_states(value="tomcat") }} tomcat
        </label>
        {{ form.salt_states_nfs.label }}
        {{ form.salt_states_nfs }}
    </div>
    <div style="display: block">
        {{ form.submit(class="btn btn-default") }}
    </div>
</form>

{% endblock page_content %}