{% extends "base.html" %}

{% block page_content %}

<table class="table table-bordered" >
    <caption>基本信息</caption>
    <thead>
    <tr>
        <th>发行版本</th>
        <th>CPU核数</th>
        <th>物理内存</th>
        <th>运行时间</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td> {{grains['osfullname']}} {{grains['osrelease']}}</td>
        <td> {{grains['num_cpus']}} </td>
        <td> {{grains['mem_total']}} </td>
        <td> {{uptime['days']}}天{{uptime['time'].split(':')[0]}}小时{{uptime['time'].split(':')[1]}}分钟</td>
    </tr>
    </tbody>
</table>


<table class="table table-bordered" >
    <caption>网卡信息</caption>
    <thead>
    <tr>
        <th>接口</th>
        <th>IP</th>
        <th>MAC</th>
    </tr>
    </thead>
    <tbody>
    {% for n in grains['ip4_interfaces'] %}
    <tr>
        <td> {{ n }} </td>
        <td> {{grains['ip4_interfaces'][n][0]}} </td>
        <td> {{grains['hwaddr_interfaces'][n]}} </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock page_content %}