{% extends "base.html" %}

{% block page_content %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Jid</th>
        <th>Function</th>
        <th>Target</th>
        <th>Target-type</th>
        <th>Arguments</th>
        <th>StartTime</th>
        <th>User</th>
    </tr>
    </thead>
<tbody>
{% for i in Data|dictsort %}
<tr>
    <td> <a href="{{ i[0] }}">{{ i[0] }}</a> </td>
    {% for n in Data[i[0]] %}
    <td> {{ Data[i[0]][n] }} </td>
    {% endfor %}
</tr>
{% endfor %}
</tbody>

</table>
{% endblock page_content %}


