{% extends "saltstack/table-base.html" %}

{% block page_content %}

<table class="table table-hover">
{% for i in Data|dictsort %}
<thead>
<tr>
    <th>{% block href scoped %} {{ i[0] }} {% endblock href %}</th>
</tr>
</thead>
{% block table_body scoped %}
<tbody>
{% for n in Data[i[0]] %}
<tr>
    {% if i[0] == "minions" %}
    <td> <a href="{{ n }}" >{{ n }}</a></td>
    <td>
        <form action method="post">
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <button type="submit"  name="delete" value="{{ n }}">删除</button>
        </form>
    </td>
    {% elif i[0] == "minions_pre" %}
    <td>{{ n }}</td>
    <td>
        <form action method="post">
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <button type="submit"  name="accept" value="{{ n }}" >添加</button>
        </form>
    </td>
    {% else %}
    <td> {{ n }} </td>
    <td></td>
    {% endif %}
</tr>
{% endfor %}
</tbody>
{% endblock table_body %}
{% endfor %}
</table>



{% endblock page_content %}


