{% extends "base.html" %}

{% block page_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Key List</h3>
    </div>

    {% if Data.get('minions')|length > 0 %}
    <table class="table table-hover">
        <caption>Accepted Keys</caption>
        <thead>
            <tr>
                <th>Key</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for i in Data.get('minions') %}
        <tr>
            <td> {{ i }} </a></td>
            <td>
                <form action method="post">
                <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-danger" name="delete" value="{{ i }}">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if Data.get('minions_denied')|length > 0 %}
    <table class="table table-striped">
        <caption>Denied Keys</caption>
        <thead>
            <tr>
                <th>Key</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for i in Data.get('minions_denied') %}
        <tr>
            <td> {{ i }} </a> </td>
            <td> delete </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if Data.get('minions_pre')|length > 0 %}
    <table class="table table-striped">
        <caption>Unaccepted Keys</caption>
        <thead>
            <tr>
                <th>Key</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for i in Data.get('minions_pre') %}
        <tr>
            <td> {{ i }} </a> </td>
            <td>
                <form action method="post">
                    <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-success" name="accept" value="{{ i }}" >Accept</button>
                </form>
                <form action method="post">
                    <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-warning" name="reject" value="{{ i }}" >Reject</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if Data.get('minions_rejected')|length > 0 %}
    <table class="table table-striped">
        <caption>Rejected Keys</caption>
        <thead>
            <tr>
                <th>Key</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for i in Data.get('minions_rejected') %}
        <tr>
            <td> {{ i }} </a> </td>
            <td>
                <form action method="post">
                <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-danger" name="delete" value="{{ i }}">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock page_content %}



