{% extends "base.html" %}

{% block page_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Minion List</h3>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Minion</th>
                <th>System</th>
                <th>CPU</th>
                <th>Mem</th>
                <th>Network</th>
            </tr>
        </thead>
        <tbody>
        {% for i in Data|dictsort %}
        <tr>
            <td> <a href="{{ i[0] }}">{{ i[0] }}</a> </td>
            <td> {{ Data[i[0]].get('lsb_distrib_description') }} </td>
            <td> {{ Data[i[0]].get('num_cpus') }} </td>
            <td> {{ Data[i[0]].get('mem_total') }} </td>
            <td> {{ Data[i[0]].get('ipv4') }} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock page_content %}
