{% extends "base.html" %}

{% block page_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Stats</h3>
    </div>
    {% for i in Data|dictsort %}
        <table class="table table-striped">
            <caption>{{ i[0] }}</caption>
            <tbody>
                {% for n in Data[i[0]] %}
                <tr>
                    <td> {{ n }} </td>
                    <td> {{ Data[i[0]][n] }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    {% endblock page_content %}
</div>


