{% extends "deployment/layout.html" %}

{% block deployment_content %}

<table class="table table-hover">
    <thead>
    <tr>
        <th>应用</th>
        <th>生产环境版本</th>
        <th>最新编译版本</th>
        <th>绑定环境</th>
    </tr>
    </thead>
    <tbody>
    {% for job in jobs %}
    <tr>
        <td> {{job}} </td>
        <td> null </td>
        <td> {{jobs[job]}} </td>
        <td> 0 </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<form action="" method="post"  class="form" role="form">
    {{ form.hidden_tag() }}
    {% if form.job.errors %}
    <div class="form-group has-error required" style="display: inline-block; vertical-align:middle">
        {{ form.job.label(class="control-label") }} {{ form.job(class="form-control", placeholder="输入jenkins中存在的job") }}
        <p class="help-block">{% for error in form.job.errors %}{{ error }}{% endfor %}</p>
    </div>
    {% else %}
    <div class="form-group required" style="display: inline-block; vertical-align:middle">
        {{ form.job.label(class="control-label") }} {{ form.job(class="form-control", placeholder="输入jenkins中存在的job") }}
    </div>
    {% endif %}
    <div style="display: block">
        {{ form.submit(class="btn btn-default") }}
    </div>
</form>
{% endblock deployment_content %}