{% extends "base.html" %}

{% block page_content %}
<table class="table table-hover">
    <thead>
    <tr>
        <th>应用</th>
        <th>已发布版本</th>
        <th>最新版本</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td> test-web </td>
        <td> 1 </td>
        <td> 2 </td>
    </tr>

    <tr>
        <td> test-admin </td>
        <td> 2 </td>
        <td> 4 </td>
    </tr>

    <tr>
        <td> test-api </td>
        <td> 4 </td>
        <td> 4 </td>
    </tr>


    </tbody>
</table>
{% endblock page_content %}