{% extends "deployment/layout.html" %}

{% block deployment_content %}

<form action="" method="post"  class="form" role="form">
    {{ form.hidden_tag() }}
    {% if form.job.errors %}
    <div class="form-group has-error required" style="display: inline-block; vertical-align:middle">
        {{ form.job.label(class="control-label") }} {{ form.job(class="form-control", placeholder="输入jenkins中存在的job") }}
        <p class="help-block">{% for error in form.job.errors %}{{ error }}{% endfor %}</p>
    </div>
    {% else %}
    <div class="form-group required" style="display: inline-block; vertical-align:middle">
        {{ form.job.label(class="control-label") }} {{ form.job(class="form-control", placeholder="输入jenkins中存在的job") }}
    </div>
    {% endif %}
    <div style="display: block">
        {{ form.submit(class="btn btn-default") }}
    </div>
</form>

{% endblock deployment_content %}