{% extends "deployment/product.html" %}

{% block deployment_content %}
<p><a class="btn btn-default" href="add" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 绑定主机</a></p>
<span class="label label-primary">生产环境</span>
<table class="table table-hover">
    <thead>
    <tr>
        <th>主机</th>
        <th>部署版本</th>
        <th>配置</th>
    </tr>
    </thead>
    <tbody>
    {% for n in list %}
    {% if n.role == 'production' %}
    <tr>
        <td> {{ n['bind_host'] }} </td>
        <td> {{ n['delivery_version'] }} </td>
        <td> null </td>
        <td>
            <form action method="post">
                <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                <button type="submit"  name="apply" value="{{n['id']}}" >应用</button>
                <button type="submit"  name="modify" value="{{n['id']}}" >修改</button>
                <button type="submit"  name="delete" value="{{n['id']}}" >删除</button>
            </form>
         </td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>

<span class="label label-info">测试环境</span>
<table class="table table-hover">
    <thead>
    <tr>
        <th>主机</th>
        <th>部署版本</th>
        <th>配置</th>
    </tr>
    </thead>
    <tbody>
    {% for n in list %}
    {% if n.role == 'test' %}
    <tr>
        <td> {{ n['bind_host'] }} </td>
        <td> {{ n['delivery_version'] }} </td>
        <td> null </td>
        <td>
            <form action method="post">
                <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                <button type="submit"  name="apply" value="{{n['id']}}" >应用</button>
                <button type="submit"  name="modify" value="{{n['id']}}" >修改</button>
                <button type="submit"  name="delete" value="{{n['id']}}" >删除</button>
            </form>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>

{% endblock deployment_content %}