{% extends "deployment/product.html" %}

{% block deployment_content %}

<form action="" method="post"  class="form" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group required" style="display: inline-block; vertical-align:middle">
                {{ form.name.label(class="control-label") }}
                {{ form.name(class="control-label") }}
            </div>
            <div style="display: block">
                {{ form.submit(class="btn btn-default") }}
            </div>
</form>



{% endblock deployment_content %}