{% extends "deployment/system.html" %}
{% block deployment_content %}
    <a class="btn btn-default" href="add" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加配置</a>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>主机</th>
                <th>配置</th>
                <th>修改时间</th>
            </tr>
            </thead>
            <tbody>
            {% for n in list %}
            <tr>
                <td> {{n['bind_host']}} </td>
                <td> <a href="{{ n['name'] }}">{{ n['name'] }}</a> </td>
                <td> {{n['last_modify_time']}} </td>
                <td>
                    <form action method="post">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                        <button type="submit"  name="apply" value="{{n['id']}}" >应用</button>
                        <button type="submit"  name="delete" value="{{n['id']}}" >删除</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock deployment_content %}