{% extends "deployment/system.html" %}

{% block deployment_content %}

<form action="" method="post"  class="form" role="form">
    {{ form.hidden_tag() }}
    {% if form.name.errors %}
    <div class="form-group has-error required" >
        {{ form.name.label(class="control-label") }} {{ form.name(class="form-control", placeholder="required") }}
        <p class="help-block">{% for error in form.name.errors %}{{ error }}{% endfor %}</p>
    </div>
    {% else %}
    <div class="form-group required" >
        {{ form.name.label(class="control-label") }} {{ form.name(class="form-control", placeholder="required") }}
    </div>
    {% endif %}

    <div style="display: block">
        {{ form.submit(class="btn btn-default") }}
    </div>


</form>

{% endblock deployment_content %}