{% extends "base.html" %}

{% block page_content %}

<div class="row">
    <div class="col-sm-10">
        {% block deployment_content %}
        <a class="btn btn-default" href="add" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加应用</a>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>应用模板</th>
                <th>绑定环境</th>
            </tr>
            </thead>
            <tbody>
            {% for n in list %}
            <tr>
                <td> <a href="{{ n['name'] }}">{{ n['name'] }}</a> </td>
                <td> {{n['bind_configurations']}} </td>
                <td>
                    <form action method="post">
                        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                        <button type="submit"  name="delete" value="{{n['id']}}" >删除</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endblock deployment_content %}
    </div>
</div>

{% endblock page_content %}
