{% extends "base.html" %}

{% block page_content %}
<form action="" method="post"  class="form" role="form">
    {{ form.hidden_tag() }}
    {% if form.tgt.errors %}
    <div class="form-group has-error required">
        {{ form.tgt.label(class="control-label") }}
        <input class="form-control" id="tgt" name="tgt" type="text" value="" placeholder="Required"
               autocomplete="off" data-provide="typeahead" data-source='{{ tgt_list }}' >
        <p class="help-block">{% for error in form.tgt.errors %}{{ error }}{% endfor %}</p>
    </div>
    {% else %}
    <div class="form-group required">
        {{ form.tgt.label(class="control-label") }}
        <input class="form-control" id="tgt" name="tgt" type="text" value="{{ request.form.tgt }}" placeholder="Required"
               autocomplete="off" data-provide="typeahead" data-source='{{tgt_list}}' >
    </div>
    {% endif %}

    {% if form.fun.errors %}
    <div class="form-group has-error required">
        {{ form.fun.label(class="control-label") }} {{ form.fun(class="form-control", placeholder="Required") }}
        <p class="help-block">{% for error in form.fun.errors %}{{ error }}{% endfor %}</p>
    </div>
    {% else %}
    <div class="form-group required">
        {{ form.fun.label(class="control-label") }} {{ form.fun(class="form-control", placeholder="Required") }}
    </div>
    {% endif %}

    {% if form.arg.errors %}
    <div class="form-group has-error">
        {{ form.arg.label(class="control-label") }} {{ form.arg(class="form-control", placeholder="Optional (Example:passwd user)") }}
        <p class="help-block">{% for error in form.arg.errors %}{{ error }}{% endfor %}</p>
    </div>
    {% else %}
    <div class="form-group">
        {{ form.arg.label(class="control-label") }} {{ form.arg(class="form-control", placeholder="Optional (Example:name sex age)") }}
    </div>
    {% endif %}

    {% if form.kwarg.errors %}
    <div class="form-group has-error">
        {{ form.kwarg.label(class="control-label") }} {{ form.kwarg(class="form-control", placeholder="Optional (Example:svc_type=None start_type=None)") }}
        <p class="help-block">{% for error in form.kwarg.errors %}{{ error }}{% endfor %}</p>
    </div>
    {% else %}
    <div class="form-group">
        {{ form.kwarg.label(class="control-label") }} {{ form.kwarg(class="form-control", placeholder="Optional (Example:svc_type=None start_type=None)") }}
    </div>
    {% endif %}

    <div style="display: block">
        {{ form.submit(class="btn btn-default") }}
    </div>

</form>


<br>
{{super()}}
{% endblock page_content%}


